
%ul.nav
  %li{ nav_active('get-involved/index.html') }
    = link_to 'Get involved', 'index.html'
  %li{ nav_active('get-involved/projects.html') }
    = link_to 'Our projects', 'projects.html'
  %li{ nav_active('get-involved/volunteers.html') }
    = link_to 'Volunteers', 'volunteers.html'
  %li{ nav_active('get-involved/partners.html') }
    = link_to 'Corporate Partners', 'partners.html'
  %li{ nav_active('get-involved/japan.html') }
    = link_to 'Activities in Japan', 'japan.html'

= partial '/get-involved/donate_button'
