---
title: Partners
active_menu: get-involved
---

- content_for :aside do
  = partial '/get-involved/menu'

- content_for :header_content do
  %h1 Partners

%h2 Project partners
%ul
  %li
    = link_to "Forests and light the tomorrow", 'http://www.astomos.com/mori/index.html'
    %br
    Astomos Energy Corporation business
    %em 2010-present
  %li
    = link_to "NICHIBAN winding core Eco Project", 'http://www.nichiban.co.jp/project/makisin-eco/main.html'
    %br
    Nichiban Co., Ltd.
    %em 2011-present

%h2 Grants
%ul
  %li
    = link_to 'National Land Afforestation Promotion Organization (Green Fund)', 'http://www.green.or.jp/bokin/'
    %br
    The fish with forest development and watershed protection forest in June Negros State Central July 2014 2011
  %li
    = link_to 'AEON Environmental Foundation', 'http://www.aeon.info/ef/activity/ngo/josei2013.html'
    %br
    The mangrove restoration project by the community participation in the March April Bohol Island - 2015 2012
  %li
    = link_to 'Ricoh Social Club · FreeWill', 'http://jp.ricoh.com/kouken/freewill/'
    %br
    Forest project from April to December Ricoh FreeWill 2013 year
  %li
    = link_to 'Global Citizens Foundation', 'http://www.gcf.or.jp/'
    %br
    The environment-friendly agriculture and livestock industry development projects in poor rural areas of the Philippines March 2014 - July 2013
  %li
    = link_to 'JICA fund for the people of the world', 'http://www.jica.go.jp/partner/private/kifu/01.html'
    %br
    Employment support of women in poverty Mountain Villages by transfer of July food processing technology November 2014 2013
  %li
    = link_to 'TOTO Water Environment Fund', 'http://www.toto.co.jp/company/environment/social/mizukikin/'
    %br
    The spread organic farming in the Philippines March 2015 April to 2014, and to protect the forest of water source!

%h2 Donations from companies and organizations:
%p Ikao-Ako has received donations from companies and organizations below:
%ul
  %li
    = link_to 'Co., Ltd. Japan Trading Corporation Mr.', 'http://www.jtcnet.jp/index.html'

%p Received a donation to Ikao-Ako depending on net sales of brown sugar Negros production.
%ul
  %li
    = link_to 'Ltd. Narukomu like', 'http://www.narcohm.co.jp/'
  %li
    = link_to 'Up Frontier Co., Ltd.', 'http://www.up-frontier.jp/index.html'

%hr

%p Thank you for your support.
