---
title: Projects
active_menu: get-involved
---

- content_for :aside do
  = partial '/get-involved/menu'

- content_for :header_content do
  %h1 Projects

%h2 1. Eco Park construction project

%p
  The mangrove forest from Balaring Village is the main project for the site and we are planning to build a museum learning knowledge for planting, silviculture and know the importance  of mangrove. It would be a great location and have the capable to think about environmental issues The cost of the construction of museum and bridge will cost at more than 50m or 50000 yen and for that we are looking for a companies that can help us in order to achieve this project.

.row
  .columns.large-6
    %p
      = image_tag 'placeholder-m.png'
    %p
      %small Bridge before repairs, pain is intense.
  .columns.large-6
    %p
      = image_tag 'placeholder-m.png'
    %p
      %small After repair. Spread the bamboo that is divided, it became easy to walk.

%hr

%h2 2. Waste processing facility construction project

%p
  Ikaw-Ako has a recovery system which is the garbage has not already in the Negros State. As a result of this garbage is overflowing along the coast. So because of that we are planning to have a garbage location for the garbage disposal to reduce the waste from the coastal areas.

.row.mb-1
  .columns.large-6
    %p
      = image_tag 'placeholder-m.png'
    %p
      %small I take the dust on the tree-planting trees with children
  .columns.large-6
    %p
      = image_tag 'placeholder-m.png'
    %p
      %small Mangrove dust entangled
.row
  .columns.large-6
    %p
      = image_tag 'placeholder-m.png'
    %p
      %small Hole to fill the garbage that was dug in the garden of the house. Leaves of trees also paper and I are thrown away in the same hole.
  .columns.large-6
    %p
      = image_tag 'placeholder-m.png'
    %p
      %small Waste accumulated during the lapped

%hr

%h2 3. Computer Room and Library opened project

%p
  The project which is to install a library and a computer room for the residents in the mountain areas to be benefit by the people that are living in that area. This area also was made to be the hidden house of the Japanese since the war started. And that area you can have the symbol of peace, security and the friendship after the war.

.row
  .columns.large-6
    %p
      = image_tag 'placeholder-m.png'

  .columns.large-6
    %p
      = image_tag 'placeholder-m.png'

