
%ul.nav
  %li{ nav_active('what/index.html') }
    = link_to 'What we do', 'index.html'
  %li{ nav_active('what/tree_planting.html') }
    = link_to 'Tree planting', 'tree_planting.html'
  %li{ nav_active('what/education.html') }
    = link_to 'Environmental education', 'education.html'
  %li{ nav_active('what/livelihood.html') }
    = link_to 'Livelihood projects', 'livelihood.html'
  %li{ nav_active('what/ecotourism.html') }
    = link_to 'Ecotourism', 'ecotourism.html'
  %li{ nav_active('what/midori.html') }
    = link_to 'Midori Cafe', 'midori.html'
  %li{ nav_active('what/training_center.html') }
    = link_to 'Training center', 'training_center.html'
  %li{ nav_active('what/study_tour.html') }
    = link_to 'Study tour', 'study_tour.html'
  %li{ nav_active('what/fair_trade.html') }
    = link_to 'Fair trade', 'fair_trade.html'
