---
title: Education
active_menu: what
---

- content_for :aside do
  = partial '/what/menu'

- content_for :header_content do
  %h1 Education Activities

%h2 Environmental education in the field

%p.lead
  Philippines children are responsible for the next generation they will continue to educate the importance about the forest.
.image-wrap
  = image_tag 'planting-teaching.jpg'
%p
  In 2010-2013, the project was introduced through environmental education by the ecotourism and the reforestation of watershed by the JICA JPP. For the High school students of Silay City, Ikaw-Ako carried the project by three years by the environmental education activities through planting activities in forest areas, we also create educational manual.

.row
  .columns.large-6
    %p= image_tag 'placeholder-s.png'
    %p
      %small Song through the tree planting activity

    %p= image_tag 'placeholder-s.png'
    %p
      %small The Disposal education and coastal cleanup activities by youth

    %p= image_tag 'planting-school.jpg'
    %p
      %small Planting of mangrove by the elementary school, junior high school students

  .columns.large-6
    %p= image_tag 'teaching.jpg'
    %p
      %small Environmental education visiting lectures

    = image_tag 'placeholder-s.png'
    %p
      %small The lesson on the production of coffee in high school Patag

    %p= image_tag 'placeholder-s.png'
    %p
      %small Trash making in the classroom

%hr

%h2 Education support activities

%h3
  Donations to elementary and junior high schools in the region
%p
  Ikaw-Ako also support the education for children activity. A subject for the school to educate and participate in a tree planting activities. We have the provisions to the environmental education  and exchange activities.

.row
  .columns.large-6
    %p= image_tag 'placeholder-s.png'
    %p
      %small Donated chair to DMLMHS Boys and Girls Scout who participate in the cleanup and tree planting activity.
  .columns.large-6
    %p= image_tag 'placeholder-s.png'
    %p
      %small Donate pencils and balls to the elementary pupils at Bonggol.

%h3 Cultural exchange
.row
  .columns.large-6
    %p= image_tag 'placeholder-s.png'
    %p
      %small AC classes at elementary school
  .columns.large-6
    %p= image_tag 'caligraphy.jpg'
    %p
      %small The calligraphy training to elementary school students


%h3 Support of Japanese education
%p= image_tag 'placeholder-s.png'
%p
  %small The state of the class (TUP), we sent a Japanese teacher

%hr

%h2 Delivery of scholarship
%p
  To the outstanding students of TUP, we gave them a scholarship. And to the children that cannot afford to sent from school because of financial problem

