---
title: Midori Cafe & Showroom
active_menu: what
---

- content_for :aside do
  = partial '/what/menu'


- content_for :header_content do
  %h1 Midori Cafe

.lead
  %p The Ikaw-Ako showroom & Midori Cafe was opened in Silay City on May 1, 2013.
  %p
    In Midori Cafe, you can buy different kinds of organic foods, coffee, juice, cosmetics products, recycling products, souvenirs and others. The Cafe offers and provides sandwiches, fruit shakes and organic tea.

%h2 Concept
%p The concept of this shop is the following:
%ul
  %li Local production for local consumption
  %li Organic healthy food
  %li The reduction in plantation business profits

%p The beneficiary of this was the Ikaw-Ako association members.
%p
  %strong have to raise funds in Readyfor!
%p
  The funding for this Cafe comes to the <a href="https://readyfor.jp/projects/ikawako">Readyfor!</a> that was collected. We salute to all the people who are always their and willing to support us. We will work hard for us to satisfy your needs from the Cafe Midori.

%p
  Cafe Midori Facebook Page is also available with the latest information.  Menu introduction to the delicious Cafe Midori.
.row
  .columns.large-6
    %p= image_tag 'placeholder-s.png'
    %p
      %small Tuna Sandwich P55
  .columns.large-6
    %p= image_tag 'placeholder-s.png'
    %p
      %small Puso Burger P39

%h2 Food processing facility
%p
  We built the food processing house for the production process of foods from the Lantawan area. Our main goal is to increase the livelihood and to help the women that are living in that area. The production is all about raw materials that was taken from the village, organic vegetables (potato, banana, coconut, etc)

.row
  .columns.large-6
    %p= image_tag 'food-facility.jpg'
    %p
      %small Food processing facility of Lantawan village
  .columns.large-6
    %p= image_tag 'food-facility-2.jpg'
    %p
      %small Making Banana and Taro chips
