---
title: Meet the Ikaw Ako Team
active_menu: about
---

- content_for :aside do
  = partial '/about/menu'

- content_for :header_content do
  %h1 Meet the team

%p
  Meet the directors and staff involved with Ikaw Ako working in Japan and Negros.

%ul.team.small-block-grid-1.medium-block-grid-2.large-block-grid-3
  %li
    = image_tag 'team/goto.jpg'
    %h2 Goto Yorihisa
    %p
      %em Director
    %p Yep
  %li
    = image_tag 'team/ver.jpg'
    %h2 Ver. F. Pacete
    %p
      %em Assistant Director
    %p Yep
  %li
    = image_tag 'team/leo.jpg'
    %h2 Leo. D. Canson
    %p
      %em Secretary / Chairman
    %p Yep
  %li
    = image_tag 'team/masanori.jpg'
    %h2 Masanori Suzumura
    %p
      %em Board Member
    %p Yep
  %li
    = image_tag 'team/nombria.jpg'
    %h2 Nombria Dooma
    %p
      %em Board Member
    %p Yep
  %li
    = image_tag 'team/mari.jpg'
    %h2 Mari Kurata
    %p
      %em Treasurer / Project Manager - Negros
    %p Mari has been with Ikaw-Ako since 1998, has a Masters in Forestry..
  %li
    = image_tag 'team/miyuki.jpg'
    %h2 Miyuki Fukuda
    %p
      %em Project Manager - Bohol
    %p Yep
  %li
    = image_tag 'team/tintin.jpg'
    %h2 Christine D.Semillano
    %p
      %em Training Center Manager
    %p Yep
  %li
    = image_tag 'team/argie.jpg'
    %h2 Argie Villarenia
    %p
      %em Afforestation and Agricultural Technology Coordinator
    %p Yep
  %li
    = image_tag 'team/fernan.jpg'
    %h2 Fernan Belleza
    %p
      %em Field Coordinator
    %p Yep
  %li
    = image_tag 'team/kate.jpg'
    %h2 Claudine Kate Estimar
    %p
      %em Administration Assistant
    %p Yep
