#logo-bar
  = link_to "/en/#{ current_page.path }", class: 'lang-switcher hide-for-small-only' do
    View page in English
  = link_to '/index.html' do
    = image_tag 'logo-simple.png', width: 100
#header
  .container
    = partial 'main_nav'
    = yield_content :header_content
