#logo-bar
  = link_to "/#{ current_page.path.gsub /^en\//, '' }", class: 'lang-switcher hide-for-small-only' do
    日本語で表示するサイト
  = link_to '/en/index.html' do
    = image_tag 'logo-simple.png', width: 100
#header
  .container
    = partial 'main_nav'
    = yield_content :header_content
