%ul.nav
  %li{ main_nav_active('home') }
    = link_to 'ホーム', '/index.html'
  %li{ main_nav_active('about') }
    = link_to 'イカオアコとは', '/about/index.html'
  %li{ main_nav_active('what') }
    = link_to 'What we do', '/what/index.html'
  %li{ main_nav_active('get-involved') }
    = link_to 'Get involved', '/get-involved/index.html'
  %li{ main_nav_active('news') }
    = link_to 'News', '/news/index.html'
  %li{ main_nav_active('contact') }
    = link_to 'お問い合わせ', '/contact.html'