%ul.nav
  %li{ main_nav_active('home') }
    = link_to 'Home', '/en/index.html'
  %li{ main_nav_active('about') }
    = link_to 'About', '/en/about/index.html'
  %li{ main_nav_active('what') }
    = link_to 'What we do', '/en/what/index.html'
  %li{ main_nav_active('get-involved') }
    = link_to 'Get involved', '/en/get-involved/index.html'
  %li{ main_nav_active('news') }
    = link_to 'News', '/en/news/index.html'
  %li{ main_nav_active('contact') }
    = link_to 'Contact', '/en/contact.html'